 .container
{
    background-color: rgb(127, 49, 201);
    width: 350px;
    height:500px;
    margin-top: 90px;
    margin-left:490px ;
    border-radius: 10px;
    border:none;
    padding: 5px;
    color:white;
    text-align: center;
    font-family: poppins;
    font-size: 25px;

}
#display
{
    font-size: large;
    margin: 30px 20px;
    background-color: aliceblue;
    width:300px;
    height:38px;
    border-radius: 5px;
    margin-left:10px ;
    border:none;
    outline: none;
    padding:2px; 
}
button{
    width:50px;
    height:45px; 
    margin-left: 9px;
    border-radius: 5px;
    border:none;
    outline:none;
    margin-bottom: 20px;
    padding:4px;
    font-size: large;
    cursor: pointer;
}
#sym
{
    color:blueviolet;
    font-weight:bold;
}
#sy
{
    background-color: rgb(248, 190, 91);
    color:white;
}
#num
{
    font-style:italic;
}
